<div class="container">
<h1>About this app</h1>
<p>
  This is a slightly weird blog app. It is based on MacKenzie Child's video although I've diverged a lot from it. But obviously it's just an app where people can post posts. No one actually has a blog of his own.
</p>

<p>
  Usually, in a blog system, users create a blog with a blog title and add posts to it. Here, people just post. There are no blogs. Unless, MC meant it to be one person's blog. But that is not also clear since everyone can post.
</p>

<p>
  Thus, I am now slowly trying to make it more of a blog. This is my first ROR app. I am learning.
</p>
</div>
