<div class="container">
  <h1> Recent Posts </h1>
<ul class="posts">
  <%= render @new_posts %>
</ul>
</div>
<div class="container">
  <h1> Recent Comments </h1>
  <%= render @new_comments %>
</div>
<div class="container">
  <h1> New Users </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Join date</th>
        <th>Posts</th>
      </tr>
    </thead>
    <tbody>
  <%= render @new_users %>
    </tbody>
</table>
</div>
