<li>
    <span class="content">
      <strong><%= link_to "#{message.sender.name}", user_path(message.sender)  %></strong>: 
        <%= message.body.html_safe %> 
    </span>
    <span class="timestamp">
    Posted at:
    <%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %>
    </span>
</li>
