<% if false %>
<div class="comment clearfix">
    <div class="comment_content">
        <p class="comment_name"><strong><%= comment.user.name %></strong></p>
        <p class="comment_time">
        Submitted <%= time_ago_in_words(comment.created_at) %> ago
        </p>
        <p class="blockquote_style2"><%= comment.body %></p>
    </div>
</div>
<% end %>
<blockquote>
  <%= comment.body.html_safe %>
        <footer>
          <%= link_to "#{comment.user.name}", user_path(comment.user)  %>,
          <%= time_ago_in_words(comment.created_at) %> ago
          <!-- don't show a link to the post if the comments are shown on the same post page -->
          <% if !current_page?(post_path(comment.post)) %>
            in <%= link_to comment.post.title, comment.post %>
        <% end %>
        </footer>
</blockquote>
