<%= simple_form_for([@post, @post.comments.build(user_id: current_user.id)]) do |f| %>
    <%= f.hidden_field :user_id, value:  current_user.id %>
    <%= f.input :body , label: false, placeholder: "Say something" %>
    <%= f.button :submit %>
<% end %>
