<%= simple_form_for([@user.messages.build(sender_id: current_user.id)]) do |f| %>
    <%= f.hidden_field :sender_id, value:  current_user.id %>
    <%= f.hidden_field :receiver_id, value:  @user.id %>
    <%= f.input :body, placeholder: 'Write something' , label: false %>
    <%= f.submit 'Post' %>
<% end %>
