
<div class="container">
<h1>Update your profile</h1>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, placeholder: 'Enter name' %>

  <%= f.input :email, placeholder: 'Enter email' %>

  <%= f.input :location, placeholder: 'Enter location'  %>

  <%= f.input :avatar, placeholder: 'Enter url of image'  %>

  <%= f.input :signature, placeholder: 'Enter signature'  %>

  <%= f.input :dob, label: "Date of Birth", as: :date, start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year] %>

  <%= f.input :sex, as: :radio_buttons,
    collection: ["Male", "Female"] %>

  <%= f.button :submit %>
<% end %>
</div>

