<div class="container">
  <h1>Profile of <%= @user.name %></h1>
  
  <div class="row">
    <div class="col-md-2"> 
      <%= image_tag @user.avatar if !@user.avatar.nil? %>
    </div>
    <div class="col-md-10"> 
  <table class="table">
    <tr>
      <td>Joined:</td>
      <td><%= @user.created_at %></td>
      <td><%= time_ago_in_words(@user.created_at) %> ago</td>
    </tr>
    <tr>
      <td>Posts:</td>
      <td><%= @post_count %></td>
      <td><%= link_to "View All Posts", posts_user_path(@user) %></td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td><%= @comment_count %></td>
      <td><%= link_to "View All Comments", comments_user_path(@user) %></td>
    </tr>
  </table>
    </div>
</div>
 </div>
<!-- post message box -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
  <%= render 'message' if user_signed_in? %>
    </div>
  </div>
</div>
<div class="container">
  <h1> Recent Messages </h1>
  <ul class="posts">
    <%= render @messages %>
  </ul>
</div>
<div class="container">
  <h1> Recent Posts </h1>
  <ul class="posts">
    <%= render @posts %>
  </ul>
</div>
<div class="container">
  <h1> Recent Comments </h1>
  <%= render @comments %>
</div>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to "Edit Profile", edit_user_path(@user) if user_signed_in? %>
    </div>
  </div>
