        <%= simple_form_for(@post) do |f| %>
            <%= f.error_notification %>
            <p>
            Created:
            <%= @post.created_at %>
            </p>
            <p>
            Author:
            <%= @post.user.name %>
            </p>

            <%= f.input :title, placeholder: "Enter title" %>

            <div data-no-turbolink>
              <%= f.input :body, placeholder: "Enter Content", class: 'ckeditor' %>
            </div>

            <%= f.button :submit %>
        <% end %>
