<li>
  <div class="row">
    <div class="col-md-2">
    <div class="panel panel-info">
    <div class="panel-heading">
      <div class="gravatar">
      <% if post.user.avatar.nil? %>
        <%= image_tag 'http://tt.tennis-warehouse.com/styles/default/xenforo/avatars/avatar_male_m.png' %>
      <% else %>
        <%= image_tag post.user.avatar if !post.user.avatar.nil? %>
      <% end %>
      </div>
      Joined: <%= post.created_at.strftime("%B %d, %Y") %><br>
      Posts: <%= post.user.posts.count %> <br>
      Location: <%= post.user.location %><br>
    </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="post-header">
    <div class="title">
      <%= link_to post.title, post %> 
    </div>
    <div class="timestamp">
      <%= link_to "#{post.user.name}", user_path(post.user)  %>, 
      <%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %>
    </div>
    </div>
  <div class="content">
    <%= post.body.html_safe %> 
  </div>
  <div class="signature">
    <%= post.user.signature %> 
  </div>
  </div>
  </div>
</li>

<% if false %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <span class="body">
            <%= post.body %> 
        </span>
	</div>
<% end %>
