<div id="post_content">
	<h1 class="title"><%= @post.title %></h1>
	<p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago by <%= @post.user.name %>
  <% if @post.user == current_user %>
		| <%= link_to 'Edit', edit_post_path(@post) %> |
		  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
	</p>
	<p class="body"><%= @post.body %></p>
    <div class="container">
      <h1><%= @post.comments.count %> comments </h1>
        <%= render @post.comments %>


        <% if user_signed_in? %>
          <h1>Add a comment:</h1>
          <%= render "comments/form" %>
        <% else %>
          <strong>If you were logged in, you could add a comment</strong>
        <% end %>
    </div>
</div>

