<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All Posts", posts_path %></li>
			<li><%= link_to "Members", users_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://twitter.com/lemonysnicket">Twitter</a></li>
			<li><a href="http://instagram.com/lemonysnicket">Instagram</a></li>
			<li><a href="https://bitbucket.org/lemony_snicket/bloggy">Github</a></li>
			<li><a href="mailto:bitbucket.qxv@gishpuppy.com">Email</a></li>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Login", new_user_session_path %></p>
		<% end %>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<%= link_to "All Posts", posts_path %>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to Home", root_path %>
			<% end %>

			<% if user_signed_in? %>
				<div class="buttons">
          <p>User: <strong>
          <%= link_to "#{current_user.name}", current_user %>
          </strong></p>
          <%= link_to new_post_path, class: 'button btn-default' do %>
            New Post 
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'button btn-default' do %>
            Log Out
          <% end %>
				</div>
      <% else %>
				<div class="buttons">
          <%= link_to new_user_session_path, class: 'button btn-default' do %>
            Log In
          <% end %>
				</div>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>

        <%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
